<!DOCTYPE html> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Coinbene DCE</title>
<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
<link type="text/css" href="css/app.css" rel="stylesheet" />
</head>
<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand  mr-0" href="#">Coinbene DCE</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <div id="navDiv">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Settings
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  <span data-feather="arrow-right-circle"></span>
                  Digital Currency
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="settings"></span>
                  Trade 
                </a>
              </li>
            </div>
          </ul>

        </div>
      </nav>

      <main role="main" class="col-md-9 col-lg-10 pt-3 px-4">
        <div id="SettingsDiv" class="">
            <h1 class="h4">Settings {{config.title}}</h1>
          <div class="container" id="settings_div">
            <div class="col-md-6 column">
              <form>
                <div class="form-group">
                  <label for="InputAPIID">APIID</label>
                  <input class="form-control" id="InputAPIID" aria-describedby="emailHelp" placeholder="Enter APIID" v-model="apiid">
                </div>
                <div class="form-group">
                  <label for="InputSecret">Password</label>
                  <input type="password" class="form-control" id="InputSecret" placeholder="Enter Password" v-model="secret">
                </div>
                <button class="btn btn-primary" v-on:click="saveSettings">Submit</button>
              </form>
            </div>
          </div>
        </div>

      </main>
    </div>
  </div>

  <script type="text/javascript" src="js/libs/jquery.min.js"></script>
  <script type="text/javascript" src="js/libs/underscore-min.js"></script>
  <script type="text/javascript" src="js/libs/feather.min.js"></script>
  <script type="text/javascript" src="js/libs/popper.min.js"></script>
  <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/libs/vue.min.js"></script>
  <script type="text/javascript" src="js/libs/Chart.bundle.min.js"></script>

  <script type="text/javascript" src="js/libs/md5.min.js"></script>
  <script type="text/javascript" src="js/coinbene/HttpMD5Util.js"></script>
  <script type="text/javascript" src="js/coinbene/CoinbeneSpotAPI.js"></script>
  <script type="text/javascript" src="js/coinbene/Coinbene.js"></script>

  <script type="text/javascript" src="js/Storage.js"></script>
  <script type="text/javascript" src="js/context.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>
